/*Name:Shahane,Shweta Kisan
 Acc_No:jadrn058*/

html,body { margin: 0; }

h2 { text-align: center; }

div#tabs-1 {
    
    background: #CDC;
    border: 1px solid #009;
    padding: 5px;
}
div#tabs-2 {
    
    background: #CCD;
    border: 1px solid #009;    
    padding: 5px;
}
div#tabs-3 {
    
    background: #DCC;
    border: 1px solid #009;    
    padding: 5px;
}

.ui-tabs-hide {
    display: none;
}

div#tabs {
    margin: 0 40px 0 40px;
    height: 500px;
    min-width:500px;
    }
    
div#tabs ul {
    list-style: none;
    padding: 0;
    margin: 0;
    height: 22px;
    border-bottom: 1px solid #000;
}
div#tabs ul li {
    font-weight: bold;
    font-size: 120%;
    float: left;
    height: 17px;
    padding: 5px 15px 2px 15px;
    margin-right: 5px;
    border: 3px solid #555;
    border-bottom: none;
    position: relative;
    background: #EEE;
}
div#tabs ul li a {
    text-decoration: none;
    color: black;
}
div#tabs ul li.ui-tabs-selected {
    background: #CCC;
}
div#tabs ul li.ui-tabs-selected a {
    color: white;
}
div#logout{
float:right;
padding: 5px 40px;
}
.pic{
height: 25%;
width: 25%;
}
